{% extends 'layouts/main.html' %}

{% block head %}
{% endblock %}

{% block content %}
    
<div id="gui">
    <div class="center">
        <button type="button" class="btn btn-primary" id="play-btn">
            Play <i class="fas fa-play icon"></i>
        </button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shop-popup">
            Shop <i class="fas fa-shopping-cart icon"></i>
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#option-popup">
            Option <i class="fas fa-cog icon"></i>
        </button>
    </div>

    <!-- Shop -->
    <div class="modal fade" id="shop-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Shop</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-shop">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#spaceships-shop">
                        Spaceshipe <i class="fas fa-rocket icon"></i>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#bullethips-shop">
                        Bullet <i class="fas fa-meteor icon"></i>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#spaceships-shop">
                        Flame <i class="fas fa-fire-alt icon"></i>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#spaceships-shop">
                        Shield <i class="fas fa-shield-alt icon"></i>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#background-popup">
                        Background <i class="fas fa-tv icon"></i>
                    </button>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Background -->
    {% with items=backgrounds %}
        {% set popup_id="background-popup" %}
        {% include "popup.html" %}
    {% endwith %}

    <!-- Spcaeshop -->
    {% with items=spaceships %}
        {% set popup_id="spaceships-shop" %}
        {% include "popup.html" %}
    {% endwith %}

    <!-- Bulletshop -->

    <!-- Option -->
    <div class="modal fade" id="option-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Shop</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-volume-up icon"></i>
                        <i class="fas fa-volume-mute icon"></i>
                    </button>
                    <label for="customRange1" class="form-label">Sound</label>
                    <input type="range" class="form-range" id="customRange1" min="0" max="100">
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
