*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

html, body{
    height: 100%;
    overflow: hidden;
}

h5 {
    color: #000;
}

#gui {
    /* display: none; */
    width: 100%;
    height: 100%;
    background: url(../assets/backgrounds/0.png);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}
.center button, .center a {
    margin: 5px;
    font-size: xx-large;
    text-align: left;
    padding: 10px;
}

#modal-shop {
    display: flex;
    flex-direction: column;
}
#modal-shop button {
    margin: 5px;
    font-size: xx-large;
    text-align: left;
}
.icon{
    margin: 10px;
    float: right;
}

.modal-body {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-inner {
    height: 600px;
}
.carousel-item img{
    margin: 150px auto;
    max-width: 100%;
    height: 300px;
}
.carousel-item .price {
    text-align: center;
    position: absolute;
    bottom: 5px;
    min-width: 50%;
    left: 25%;
    font-size: xx-large;
}
.carousel-item .price button {
    margin: 5px;
    font-size: xx-large;
    text-align: left;
}

.img-btn {
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(100, 100, 155, 0.3);
    border: none;
}
.img-btn:hover {
    background: none;
}
.radio-img:checked ~ .btn-outline-success{
    background-color: rgb(81, 187, 81);
}

#setting-btn {
    position: absolute;
    margin: 10px;
    font-size: xx-large;
}

.comp-card {
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}
.comp-card-head h5 {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;       /*The same as your div height*/
    width: 100%;
    margin: 10px auto;
    border: 1px solid #000;
    border-radius: 5px;
    text-transform: uppercase;
}
.comp-card-body{
    text-align: center;
}
.comp-card-card{
    display: inline-block;
    width: 120px;
    height: 200px;
    margin: 5px;
}
.comp-card label {
    display: inline-flex;
    justify-self: center;
    height: 100%;
    width: 100%;
}
.comp-card img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#coins {
    width: 200px;
    height: 50px;
    border: 1px solid #ff00ff;
    position: absolute;
    right: 10px;
    top: 10px;
}
