<!-- Option -->
<div class="modal fade" id="option-popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Shop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-volume-up icon"></i>
                    <i class="fas fa-volume-mute icon"></i>
                </button>
                <label for="customRange1" class="form-label">Sound</label>
                <input type="range" class="form-range" id="customRange1" min="0" max="100">
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>