<div class="modal fade" id="spaceships-component-popup" data-bs-backdrop="static" 
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> Spaceshipcomponent</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="comp-card">
                    <div class="comp-card-head">
                        <h5> Spaceships </h5>
                    </div>
                    <div class="comp-card-body">
                        {% for i in range(spaceships|length): %}
                            <div class="comp-card-content">
                                <input type="radio" class="btn-check radio-img spaceships-component game-card" 
                                name="spaceships" id="spaceships-component-{{ i }}" autocomplete="off" 
                                {% if i == 0: %} checked {% endif %}>
                                <label class="btn btn-outline-success" id="spaceships-label-{{ i }}" for="spaceships-component-{{ i }}">
                                    <div class="spaceship-card spaceship-card-component">
                                        {% for j in range(spaceships[i]|length): %} {% with item = spaceships[i][j] %}
                                        <div class="item">
                                            <input type="radio" class="spaceships-colors" name="spaceship-{{ i }}" 
                                            id={{ item['name'] }} {% if j == 0: %} checked {% endif %} >
                                            <label for={{ item['name'] }}>
                                                <div class="circle spaceship-{{ j }}"></div>
                                                <div class="content">
                                                    <img src="{{ url_for('static', filename=item['img_src']) }}" alt="">
                                                </div>
                                            </label>
                                        </div>
                                        {% endwith %} {% endfor %}
                                    </div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
